<section id="mypage_header" class="<%= color_class %>" style="<%= style %>">
    <div class="header">
        <div class="my-profile-image bg_img_cover" style="background: url(<%= current_user.img.nil? ? image_with_sns(current_user.image.to_s) : current_user.img %>); width: 90px; height: 90px;" alt="<%= current_user.name %>'s profile image"></div>
        <div class="absolute_center my-profile-name">
            <%= current_user.nickname %>
            <div class="hover-effect"><a href="<%= edit_user_registration_path %>" class="btn btn-sm btn-default bgm-pink" style="background: none !important;"><span class="zmdi zmdi-edit"></span></a></div>
        </div>
    </div>
</section>