<%= render partial: '/fandoms/partials/planet_header' %>

<%= render partial: '/layouts/sub_nav', locals: {tabs: @tabs} %>

<section id="wiki-ground" data-page="posts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="main_contents-box" class="card">
                    <p><%= @wiki_pointer.wiki.name %></p>
                    <p><%= "#{@wiki_pointer.sort_num}. #{@wiki_posts.last.title}" %></p>

                    <div class="m-t-20">
                        <p class="table-label">Record list</p>
                        <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Version</th>
                            <th>Description</th>
                            <!--<th>Order Change</th>-->
                            <th>edited by</th>
                        </tr>
                        </thead>

                        <tbody>
                        <% post_num = @wiki_posts.count %>
                        <% @wiki_posts.order(created_at: :desc).each do |wiki_post| %>

                            <tr>
                                <td>
                                    <%= link_to fandom_wiki_post_path(@fandom, wiki_post, wiki_pointer_id: @wiki_pointer.id) do %>
                                        <%= wiki_post.created_at.to_time.strftime('%R, %d %B %Y') %>
                                    <% end %>
                                </td>
                                <td>
                                    <%= link_to fandom_wiki_post_path(@fandom, wiki_post, wiki_pointer_id: @wiki_pointer.id) do %>
                                        <%= post_num %>
                                    <% end %>
                                </td>
                                <td>
                                    <%= link_to fandom_wiki_post_path(@fandom, wiki_post, wiki_pointer_id: @wiki_pointer.id) do %>
                                        <%= wiki_post.commit_msg %>
                                    <% end %>
                                </td>
                                <!--<td>
                                    <%#= link_to fandom_wiki_post_path(@fandom, wiki_post, wiki_pointer_id: @wiki_pointer.id) do %>
                                        <%#= wiki_post.row_count %>
                                    <%# end %>
                                </td>-->
                                <td>
                                    <%= link_to fandom_wiki_post_path(@fandom, wiki_post, wiki_pointer_id: @wiki_pointer.id) do %>
                                        <img src="<%= wiki_post.user.img %>" alt="<%= wiki_post.user.nickname %>">
                                        <%= wiki_post.user.nickname %>
                                    <% end %>
                                </td>
                            </tr>
                        <% post_num -= 1 %>
                        <% end %>
                        </tbody>
                    </table>
                    </div>

                    <br>

                    <!--<#%= link_to 'New Wiki Post', new_fandom_wiki_post_path(@fandom) %>-->
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .border{
        border: 1px solid #000000;
    }
    .table-bordered {
        border: 2px solid #e0e0e0;
    }
</style>
