<%= simple_form_for(@site_master) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :message_login_please %>
    <%= f.input :message_global_error %>
    <%= f.input :fandom_publish_count %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
