<%= render partial: '/fandoms/partials/planet_header' %>

<%= render partial: '/layouts/sub_nav', locals: {tabs: @tabs} %>
<% @onclick_display = valid_display_on_user_level(is_my_fandom?(user: @user, fandom: @fandom)) %>

<section id="wiki-ground" data-page="main">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-push-9 m-t-30">
                <div id="language_control-box" class="card">
                    <div class="card-body">
                        <ul>
                            <li class="active">english</li>
                            <li>spanish</li>
                        </ul>
                    </div>
                </div>
                <div id="contents_widget-box" class="card">
                    <div class="card-header">
                        <h2>index</h2>
                    </div>
                    <div class="card-body card-padding">
                        <ul>
                            <ol><a onclick="fnMove_wiki(0); return false;" href="#"><%= @wiki.name %></a></ol>
                            <% i = 1 %>
                            <% @sections.each do |section| %>
                                <% post = section.wiki_posts.last %>
                                <ol><a onclick="fnMove_wiki(<%= section.id %>); return false;" href="#"><%= i %>. <%= post.title %></a></ol>
                                <% i += 1 %>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-md-pull-3">
                <div id="main_contents-box" class="card">
                    <div id="main-section-0" class="card-body card-padding">

                        <!-- Main title -->
                        <h1 id="main-title" style="font-weight: 700;"><%= @wiki.name %></h1>

                        <!-- Main image -->
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <img id="main-img" src="<%= @wiki.image %>" alt="<%= @wiki.name %> 사진">
                            </div>
                            <div class="col-md-3"></div>
                        </div>

                        <!-- Main information -->
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10 table-responsive">
                                <table id="main-information" class="table table-bordered table-hover">
                                    <tbody>
                                        <% @wiki.infos.each do |info| %>
                                            <tr>
                                                <td><%= info.title %></td>
                                                <td><%= info.content&.html_safe %></td>
                                                <td><%= auto_link(info.url, :html => { :target => '_blank', :alt => 'debut' }) %></td>
                                            </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-1"></div>
                        </div>

                        <!-- Main members-info -->
                        <div class="row">
                            <div id="main-members-info" class="col-md-12 wrap-box">
                                <h2 class="sub_title">members</h2>
                                <% @sub_wikis.each do |member_wiki| %>
                                    <div class="col-sm-2 col-xs-3">
                                        <ul class="member-thumbnail">
                                            <li>
                                                <a href="<%= fandom_wikis_path(@fandom, w: member_wiki.id) %>" class="member-link"><img src="<%= member_wiki.image %>" alt="<%= member_wiki.name %> image"></a>
                                            </li>
                                            <li>
                                                <a class="member-link" href="<%= fandom_wikis_path(@fandom, w: member_wiki.id) %>"><%= member_wiki.name %></a>
                                            </li>
                                        </ul>
                                    </div>
                                <% end %>
                            </div>
                        </div>

                        <!-- Main sections -->
                        <% @sections.each do |section| %>
                            <% post = section.wiki_posts.last %>
                            <div class="row">
                                <div id="main-section-<%= section.id %>" class="col-md-12 wrap-box wiki-section" data-post="<%= post.id %>">
                                    <h2 class="sub_title"><%= "#{section.sort_num}. #{post.title}" %>
                                        <a href="<%= edit_fandom_wiki_post_path(@fandom, post, wiki_pointer_id: section.id) %>" onclick="<%= @onclick_display %>" class="btn btn-default feature feature-edit c-cyan">edit</a>
                                        <a href="<%= fandom_wiki_posts_path(@fandom, wiki_pointer_id: section.id) %>" class="btn btn-default feature feature-logs c-cyan">view records</a>
                                    </h2>
                                    <div class="section-contents">
                                        <%== post.content %>
                                    </div>
                                </div>
                            </div>
                        <% end %>

                        <div class="row">
                            <div id="main-section-add" class="col-md-12 wrap-box wiki-section" data-post="0">
                                <h2 class="sub_title" style="text-align: center">
                                    <a href="<%= new_fandom_wiki_post_path(@fandom, wiki_id: @wiki.id, sort_num: @sections.last_sort_num) %>" onclick="<%= @onclick_display %>" class="btn btn-default feature feature-add c-cyan"><span class="zmdi zmdi-plus-circle"></span> add</a>
                                </h2>
                            </div>
                        </div>

                        <!-- Main Clearfix -->
                        <div class="row">
                            <h1 id="main-clearfix"></h1>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .border{
        border: 1px solid #000000;
    }
</style>