<%= render partial: '/fandoms/partials/planet_header' %>

<%= render partial: '/layouts/sub_nav', locals: {tabs: @tabs} %>

<section id="content" class="m-t-30">

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="card" id="history-index-wrap">
                    <div class="card-body card-padding">
                        <% if user_signed_in? && (current_user.admin || is_my_fandom?(user: current_user, fandom: @fandom)) %>
                            <p id="edit_toggleBtn" data-mode="inactive">Edit Mode</p>
                        <% end %>
                        <ul>
                            <% i=0; @years_hash.each do |year, date| %>
                                <li class="index_list <%= 'active' if i.zero? %>">
                                    <a href="#" onclick="fnMove('<%= date %>'); return false;"><span><%= year %></span></a>
                                </li>
                            <% i+=1; end %>
                        </ul>
                    </div>
                </div>
                <div class="card" id="historyGround">
                    <div class="card-header">
                        <h2 class="c-indigo"><%= @fandom.name %>'s history</h2>
                    </div>

                    <div class="card-body card-padding content-ground">

                        <!-- Add History line -->
                        <div class="p-timeline adding event-edd history-edit_toggle" style="display: none;">
                            <div class="pt-line c-gray text-right">
                                <span class="d-block">Year</span> :d/ :m
                            </div>

                            <div class="pt-body">

                                <h2 class="ptb-title" id="timeline-add-title"><span>Add a new Line whenever you want :D</span>
                                    <a id="history_add_line-edit" href="#" class="btn btn-default feature feature-edit c-cyan" onclick="return false;">add</a>
                                </h2>

                                <!--<div id="timeline-add-title-edit" class="input-group form-group" style="display: none;">-->
                                    <!--<div class="fg-line">-->
                                        <!--<input id="new-history-title" type="text" class="form-control" placeholder="Add a new Line whenever you want :D" autofocus required>-->
                                    <!--</div>-->
                                    <!--<div class="input-group form-group" style="width: 50%; float: right;">-->
                                        <!--<span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>-->
                                        <!--<div class="dtp-container fg-line">-->
                                            <!--<input type="text" class="form-control date-picker" id="history-event_date" placeholder="When was the event? ...">-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <!--<span class="input-group-addon last">-->
                                        <!--<a id="history_add_line-save" data-fandom="<%#= @fandom.id %>" data-author="<%#= get_current_user_id %>" href="#" class="btn btn-default feature feature-edit c-cyan" onclick="return false;">save</a>-->
                                    <!--</span>-->
                                <!--</div>-->

                                <!--<div class="pull-right" addkey="">-->
                                    <!--<div class="lightbox-item2 item-plus-box">-->
                                        <!--<a href="#" class="item-plus" data-title="Add a new Line whenever you want :D" data-history="0" data-toggle="modal" style="opacity: 0.25;" onclick="swal('History Event-Date First!');return false;"><span class="zmdi zmdi-plus-circle"></span></a>-->
                                    <!--</div>-->
                                <!--</div>-->
                            </div>
                        </div>

                        <!-- 바로 아래에 새로운 히스토리를 붙이는 위치 -->
                        <div id="target-zone" class="history-edit_toggle" style="display: none;"></div>


                        <% if @histories.count.zero? %>         <!-- Dummy for Nothing to show -->
                            <% dummy_history.reverse.each do |history| %>
                                <div class="p-timeline">
                                    <div class="pt-line c-gray text-right">
                                        <span class="d-block"><%= history[:event_date].year %></span> <%= history[:event_date].strftime('%d/%m') %>
                                    </div>

                                    <div class="pt-body">
                                        <h2 class="ptb-title" id="timeline-<%= history[:id] %>-title"><%= history[:title] %>
                                            <a href="#" class="btn btn-default feature feature-edit c-cyan" onclick="return false;">Edit</a>
                                        </h2>

                                        <div class="lightbox clearfix" data-history="timeline-<%= history[:id] %>">
                                            <% if history[:img] %>
                                                <div data-src="<%= history[:square_img] %>">
                                                    <div class="lightbox-item p-item">
                                                        <img src="<%= history[:img] %>" alt="" />
                                                    </div>
                                                </div>
                                            <% end %>
                                            <% history[:sub].each do |attachment| %>
                                                <div data-src="<%= attachment[:square_img] %>">
                                                    <div class="lightbox-item p-item">
                                                        <img src="<%= attachment[:img] %>" alt="" />
                                                    </div>
                                                </div>
                                            <% end %>
                                        </div>
                                        <div class="pull-right" addkey="">
                                            <div class="lightbox-item2 item-plus-box">
                                                <a href="#" class="item-plus" data-title="<%=  history[:title] %>" data-history="<%= history[:id] %>" data-toggle="modal" data-target="#imgUploadModal"><span class="zmdi zmdi-plus-circle"></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                        <% else %>        <!-- Real history parse powered by partial template -->
                            <%= render partial: '/planet/histories/partials/event', collection: @histories, as: :history, locals: { new_history: false } %>
                        <% end %>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<span id="titleShadow"></span>



<!-- Modal -->
<div class="modal fade" id="imgUploadModal" tabindex="-1" role="dialog" aria-labelledby="imgUploadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="imgUploadModalLabel">Image Uploader</h4>
            </div>
            <form action="/fandoms/<%= @fandom.id %>/histories" method="post" enctype="multipart/form-data">

                <input name="authenticity_token" id="inputHistory-authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                <input type="hidden" name="history[history_id]" id="inputHistory-history_id">

                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="line-height: 150px;"></div>
                                    <div>
                                        <span class="btn btn-info btn-file waves-effect w-100">
                                            <span class="fileinput-new">Select image</span>
                                            <span class="fileinput-exists">Change</span>
                                            <input type="hidden"><input type="file" name="history[img]">
                                        </span>
                                        <a href="#" class="btn btn-danger fileinput-exists waves-effect w-100" data-dismiss="fileinput">Remove</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="display: none">
                                <div class="card">
                                    <div class="card-boddy card-padding">
                                        <a href="#" class="btn btn-info fileinput-exists w-100" data-dismiss="fileinput" style="text-align: center; text-transform: capitalize">Save & Add Another</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Add Event Modal-->
<div class="modal fade" id="eventUploadModal" tabindex="-1" role="dialog" aria-labelledby="eventUploadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="imgUploadModalLabel">Add to History!</h4>
            </div>
            <form class="form-horizontal" action="<%= fandom_histories_path(@fandom) %>" method="post" enctype="multipart/form-data">

                <input name="authenticity_token" id="inputHistory-authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                <input type="hidden" name="history[fandom_id]" id="history-fandom_id" value="<%= @fandom.id %>">
                <input type="hidden" name="history[user_id]" id="history-user_id" value="<%= get_current_user_id %>">

                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">

                            <div class="form-group">
                                <label for="addHistoryEvent-event_date" class="col-sm-2 control-label">Date</label>
                                <div class="col-sm-10">
                                    <div class="fg-line">
                                        <input type="date" class="form-control input-sm" id="addHistoryEvent-event_date" name="history[event_date]" required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="addHistoryEvent-title" class="col-sm-2 control-label">Event</label>
                                <div class="col-sm-10">
                                    <div class="fg-line">
                                        <input type="text" class="form-control input-sm" id="addHistoryEvent-title" name="history[title]" placeholder="What happened?" required>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Edit Event Modal-->
<div class="modal fade" id="editEventModal" tabindex="-1" role="dialog" aria-labelledby="editEventModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="imgUploadModalLabel">Edit History!</h4>
            </div>
            <form class="form-horizontal" action="<%= fandom_histories_path(@fandom) %>" method="post" enctype="multipart/form-data">

                <input name="authenticity_token" id="inputHistory-authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                <input type="hidden" name="history[fandom_id]" id="history-fandom_id" value="<%= @fandom.id %>">
                <input type="hidden" name="history[user_id]" id="history-user_id" value="<%= get_current_user_id %>">

                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">

                            <div class="form-group">
                                <label for="editHistoryEvent-event_date" class="col-sm-2 control-label">Date</label>
                                <div class="col-sm-10">
                                    <div class="fg-line">
                                        <input type="date" class="form-control input-sm" id="editHistoryEvent-event_date" name="history[event_date]" required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="editHistoryEvent-title" class="col-sm-2 control-label">Event</label>
                                <div class="col-sm-10">
                                    <div class="fg-line">
                                        <input type="text" class="form-control input-sm" id="editHistoryEvent-title" name="history[title]" placeholder="What happened?" required>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
            <form id="removeHistoryBtn-form" action="" method = "post">
                <input type="hidden" name="_method" value="delete"/>
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <button id="removeHistoryBtn" type="submit" class="btn btn-danger" onclick = "if(! confirm('Are you sure?')){ return false; }">delete</button>
            </form>
        </div>
    </div>
</div>