<p id="notice"><%= notice %></p>

<p>
  <strong>Fandom:</strong>
  <%= @history.fandom %>
</p>

<p>
  <strong>User:</strong>
  <%= @history.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @history.title %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @history.event_date %>
</p>

<%= link_to 'Edit', edit_history_path(@history) %> |
<%= link_to 'Back', histories_path %>
