<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @link.user %>
</p>

<p>
  <strong>Fandom:</strong>
  <%= @link.fandom %>
</p>

<p>
  <strong>Type:</strong>
  <%= @link.type %>
</p>

<p>
  <strong>Url:</strong>
  <%= @link.url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @link.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @link.description %>
</p>

<p>
  <strong>Message:</strong>
  <%= @link.message %>
</p>

<p>
  <strong>Image:</strong>
  <%= @link.image %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
