<%= render partial: '/layouts/plane_header', locals: { color_class: 'bgm-green', message: 'Choose the channel you want to follow!', style: '', msg_style: '' } %>

<section id="sorting_methods" class="container">
    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <ul class="methods-wrapper">
                    <label class="radio radio-inline">
                        <input type="radio" name="sort_option" value="popular" checked>
                        <i class="input-helper"></i>
                        <span class="label_text">popular</span>
                    </label>
                    <label class="radio radio-inline">
                        <input type="radio" name="sort_option" value="recent">
                        <i class="input-helper"></i>
                        <span class="label_text">recent</span>
                    </label>
                    <label class="radio radio-inline">
                        <input type="radio" name="sort_option" value="abc">
                        <i class="input-helper"></i>
                        <span class="label_text">abc</span>
                    </label>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="channels" class="container">
    <div class="row">
        <% @fandoms.each do |fandom| %>
            <div class="col-md_2 col-sm-4 col-xs_5">
                <%= link_to fandom_path(fandom) do %>
                    <div class="card profile-view">
                        <div class="pv-header hf-e-header"  style="background-image: url('<%= fandom.background_img %>')">
                            <img src="<%= fandom.profile_img %>" class="pv-main profile_img absolute_center" alt="" data-pin-nopin="true">
                        </div>

                        <div class="pv-body hf-e-body">
                            <h2 class="text"><%= fandom.name %></h2>

                            <ul class="pv-follow">
                                <li class="text text-sm"><span id="follower_count_<%= fandom.id %>"><%= fandom.user_lists.count %></span> Followers</li>
                            </ul>

                            <% if user_signed_in? %>
                                <%= follow_btn(fandom, current_user).html_safe %>
                            <% else %>
                                <%= follow_btn(fandom, nil).html_safe %>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</section>

<div style="display: none;">
    <p id="notice"><%= notice %></p>

    <h1>Fandoms</h1>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Profile img</th>
            <th>Background img</th>
            <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% @fandoms.each do |fandom| %>
            <tr>
                <td><%= fandom.name %></td>
                <td><%= fandom.profile_img %></td>
                <td><%= fandom.background_img %></td>
                <td><%= link_to 'Show', fandom %></td>
                <td><%= link_to 'Edit', edit_fandom_path(fandom) %></td>
                <td><%= link_to 'Destroy', fandom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
        </tbody>
    </table>

    <br>

    <%= link_to 'New Fandom', new_fandom_path %>
</div>