<%= render partial: '/layouts/plane_header', locals: { color_class: '', message: '<span style="font-size: 35px; font-weight: 700;">PLANETS</span><br>Follow your favorite K-pop star\'s planet<br>and enjoy EVERYTHING about the star!', style: 'background-color: #00c9c6 !important; margin-top: 60px;', msg_style: 'padding-top: 50px !important; ' } %>

<!--<button id="suggest_btn" class="btn btn-default bgm-lightgreen wave-effect" data-toggle="modal" data-target="<%= user_signed_in? ? '#suggest_channel_modal' : '#login_modal' %>">-->
    <!--Do you want to suggest a new Channel?-->
<!--</button>-->

<section id="channels" class="container card">
    <div id="sorting_methods">
        <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6" style="padding: 0;">
                <div class="col-md-4"></div>
                <div class="col-md-8" style="padding: 0;">
                    <ul class="methods-wrapper">
                        <li class="method <%= 'active' if params[:method] == 'abc' %>"><a href="?method=abc" class="methodBtn" style="text-transform: uppercase;">abc</a></li>
                        <li class="method <%= 'active' if params[:method] == 'recent' %>"><a href="?method=recent" class="methodBtn">recent</a></li>
                        <li class="method <%= 'active' if params[:method] == 'popular' || params[:method].nil? %>"><a href="?method=popular" class="methodBtn">popular</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <%= render partial: '/fandoms/partials/planet_card_onSelect_published', collection: @fandoms, as: :fandom, locals: {user: @user} %>
    </div>

    <% unless @fandoms_not_active.count.zero? %>
        <div class="hf-hr-wrap" style="padding: 0 25%;"></div>

        <div class="row unpublished_channels">
            <h2>fandom waiting list
                <small>
                    These channels are in preparation.
                    <br>When the proposal reaches 50 people, it will be issued to the official channel.<br>
                    <br><span onclick="<%= user_signed_in? ? '$(\'#suggest_channel_modal\').modal({backdrop: true, keyboard: true})' : 'hey_login()' %>">Have new fandom suggestions?</span>
                </small>
            </h2>
            <%= render partial: '/fandoms/partials/planet_card_onSelect_unpublished', collection: @fandoms_not_active, as: :un_fandom, locals: {user: @user} %>
        </div>
    <% end %>
</section>

<%= render '/fandoms/partials/suggest_fandom_modal' %>

<div style="display: none;">
    <p id="notice"><%= notice %></p>

    <%= link_to 'New Fandom', new_fandom_path %>
</div>

<style>
    section#page_header{
        margin-bottom: 0;
    }

    div.checkbox{
        text-align: center;
        margin: 20px 0 0 !important;
    }
    div.checkbox label{
        /*color: #999;*/
        /*font-weight: 400;*/
        color: #000;
        font-weight: 600;
    }
    #suggest_channel_modal .modal-footer #saveBtn{
        background: #00c9c6 !important;
        color: #eeeeee !important;
        font-size: 16px !important;
    }
    #suggest_channel_modal .modal-footer #saveBtn:hover{
        font-weight: 700 !important;
        color: #ffffff !important;
        border: 1px solid #ccc !important;
    }
</style>