<%= render partial: '/layouts/plane_header', locals: { color_class: '', message: '<span style="font-size: 35px; font-weight: 700;">PLANETS</span><br>Follow your favorite K-pop star\'s planet<br>and enjoy EVERYTHING about the star!', style: 'background-color: #00c9c6 !important; margin-top: 60px;', msg_style: 'padding-top: 50px !important; ' } %>

<button id="suggest_btn" class="btn btn-default bgm-lightgreen wave-effect" data-toggle="modal" data-target="<%= user_signed_in? ? '#suggest_channel_modal' : '#login_modal' %>">
    Do you want to suggest a new Channel?
</button>

<section id="channels" class="container card" style="padding-bottom: 50px;">
    <div id="sorting_methods">
        <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6" style="padding: 0;">
                <div class="col-md-4"></div>
                <div class="col-md-8" style="padding: 0;">
                    <!--
                    <ul class="methods-wrapper">
                        <label class="radio radio-inline">
                            <input type="radio" name="sort_option" value="popular" checked>
                            <i class="input-helper"></i>
                            <span class="label_text">popular</span>
                        </label>
                        <label class="radio radio-inline">
                            <input type="radio" name="sort_option" value="recent">
                            <i class="input-helper"></i>
                            <span class="label_text">recent</span>
                        </label>
                        <label class="radio radio-inline">
                            <input type="radio" name="sort_option" value="abc">
                            <i class="input-helper"></i>
                            <span class="label_text">abc</span>
                        </label>
                    </ul>
                    -->
                    <ul class="methods-wrapper">
                        <li class="method <%= 'active' if params[:method] == 'abc' %>"><a href="?method=abc" class="methodBtn">abc</a></li>
                        <li class="method <%= 'active' if params[:method] == 'recent' %>"><a href="?method=recent" class="methodBtn">recent</a></li>
                        <li class="method <%= 'active' if params[:method] == 'popular' || params[:method].nil? %>"><a href="?method=popular" class="methodBtn">popular</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="text-align: left; max-width: 960px; margin: auto; padding: 0 60px;">
        <%= render partial: '/fandoms/partials/planet_card_onSelect_published', collection: @fandoms, as: :fandom, locals: {user: @user} %>
    </div>

    <% unless @fandoms_not_active.count.zero? %>
        <div class="hf-hr-wrap" style="padding: 0 25%;">
            <!--<hr class="hf-hr" style="border-top: 2px solid #777;">-->
            <!--<span class="zmdi zmdi-star"></span>-->
        </div>

        <div class="row unpublished_channels" style="text-align: left; max-width: 960px; margin-left: auto; margin-right: auto; padding: 0 60px;">
            <h2 style="text-align: left">fandom waiting list <small>These channels are in preparation. <br>When the proposal reaches 50 people, it will be issued to the official channel.</small></h2>
            <%= render partial: '/fandoms/partials/planet_card_onSelect_unpublished', collection: @fandoms_not_active, as: :un_fandom, locals: {user: @user} %>
        </div>
    <% end %>
</section>

<div class="modal fade" id="suggest_channel_modal" tabindex="-1" role="dialog" aria-labelledby="addLinkModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">Fandom Suggestions</h2>
            </div>
            <form action="<%= fandoms_path %>" method="post">
                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                <div class="modal-body">
                    <p class="m-b-0 f-16">step 1. Name of the Fandom</p>
                    <div class="input-group fg-float m-t-10 w-100">
                        <div class="fg-line">
                            <input type="text" class="form-control fg-input" name="fandom[name]" id="link_url" required>
                            <label class="fg-label">Artist's Official Name (Eng)</label>
                        </div>
                    </div>

                    <p class="m-b-0 m-t-30 f-16">step 2. Logo of the Fandom</p>
                    <div class="input-group fg-float m-t-10 w-100">
                        <div class="fg-line">
                            <input type="text" class="form-control fg-input" name="fandom[profile_img]" id="link_url" required>
                            <label class="fg-label">Artist's Official Logo image (Only URL)</label>
                        </div>
                    </div>

                    <p class="m-b-0 m-t-30 f-16">step 3. Background image</p>
                    <div class="input-group fg-float m-t-10 w-100">
                        <div class="fg-line">
                            <input type="text" class="form-control fg-input" name="fandom[background_img]" id="link_url" required>
                            <label class="fg-label">Artist's Official Background image (Only URL)</label>
                        </div>
                    </div>

                    <p class="m-b-0 m-t-30 f-16" style="color: #999999; text-align: center;">You can not add groups that already exist, or<br>individual member of the group as planets.</p>
                    <div class="checkbox" style="text-align: center;">
                        <label>
                            <input type="checkbox" value="" required>
                            <i class="input-helper"></i>I Agree
                        </label>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" id="saveBtn" class="btn">submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div style="display: none;">
    <p id="notice"><%= notice %></p>

    <%= link_to 'New Fandom', new_fandom_path %>
</div>

<style>
    section#page_header{
        margin-bottom: 0;
    }

    div.checkbox{
        text-align: center;
        margin: 20px 0 0 !important;
    }
    div.checkbox label{
        /*color: #999;*/
        /*font-weight: 400;*/
        color: #000;
        font-weight: 600;
    }
    /*div.checkbox label.checked{*/
        /*color: #000;*/
        /*font-weight: 600;*/
    /*}*/
    /*#suggest_channel_modal .modal-footer #saveBtn:not(.checked){*/
        /*background: #8fd0cf !important;*/
        /*color: #DDDDDD !important;*/
        /*font-size: 16px !important;*/
    /*}*/
    #suggest_channel_modal .modal-footer #saveBtn{
        background: #00c9c6 !important;
        color: #eeeeee !important;
        font-size: 16px !important;
    }
    #suggest_channel_modal .modal-footer #saveBtn:hover{
        font-weight: 700 !important;
        color: #ffffff !important;
        border: 1px solid #ccc !important;
    }
</style>