<%= render partial: '/fandoms/partials/planet_header' %>

<%= render partial: '/layouts/sub_nav', locals: {tabs: @tabs} %>

<%= render partial: '/layouts/toolbar' %>

<%= render partial: '/layouts/link_section' %>

<% if user_signed_in? && is_my_fandom?(fandom: @fandom, user: current_user) %>
    <button class="btn btn-danger btn-float wave-effect" style="bottom: 50px; right: 3%; position: fixed !important; z-index: 3;"  data-toggle="modal" data-target="#add_link_modal">
        <i class="zmdi zmdi-plus"></i>
    </button>

    <!-- Modal -->
    <%= render '/fandoms/modal_link_upload' %>
<% end %>

<div style="display: none;">
    <p id="notice"><%= notice %></p>

    <p>
        <strong>Name:</strong>
        <%= @fandom.name %>
    </p>

    <p>
        <strong>Profile img:</strong>
        <%= @fandom.profile_img %>
    </p>

    <p>
        <strong>Background img:</strong>
        <%= @fandom.background_img %>
    </p>

    <%= link_to 'Edit', edit_fandom_path(@fandom) %> |
    <%= link_to 'Back', fandoms_path %>
</div>
<style>
    body{
        background-color: transparent;
    }
</style>