<%= render partial: '/fandoms/partials/planet_header' %>

<%= render partial: '/layouts/partials/sub_nav', locals: {tabs: @tabs} %>

<%= render partial: '/layouts/partials/toolbar' %>

<%= render partial: '/links/partials/link_section' %>

<button id="goTopBtn_renewal" class="btn bgm-white btn-float" onclick="goTopScroll()">
    <i class="zmdi zmdi-arrow-right"></i>
</button>

<button id="addLinkBtn_renewal" class="btn bgm-white btn-float" onclick="<%= valid_display_on_user_level(is_my_fandom?(user: @user, fandom: @fandom)) %>" data-toggle="modal" data-target="#add_link_modal">
    <i class="zmdi zmdi-edit"></i>
</button>

<% if user_signed_in? && is_my_fandom?(fandom: @fandom, user: @user) %>
    <!-- Modal -->
    <%= render partial: '/fandoms/modal_link_upload', locals: { modal_type: 'add' } %>
    <%= render partial: '/fandoms/modal_link_upload', locals: { modal_type: 'edit' } %>
<% end %>

<div style="display: none;">
    <p id="notice"><%= notice %></p>

    <p>
        <strong>Name:</strong>
        <%= @fandom.name %>
    </p>

    <p>
        <strong>Profile img:</strong>
        <%= @fandom.profile_img %>
    </p>

    <p>
        <strong>Background img:</strong>
        <%= @fandom.background_img %>
    </p>

    <%= link_to 'Edit', edit_fandom_path(@fandom) %> |
    <%= link_to 'Back', fandoms_path %>
</div>
<style>
    body{
        background-color: transparent;
    }
</style>