<div class="row card-innerbox wiki-info" id="info-<%= info.id %>">
    <div class="col-sm-2">
        <div class="input-group">
            <span class="input-group-addon"><i class="zmdi zmdi-label"></i> row</span>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="input-group">
            <span class="input-group-addon">label</span>
            <div class="fg-line">
                <input type="text" id="wiki_info-<%= info.id %>-title" value="<%= info.title %>" class="form-control input-lg" placeholder="Label Name of Official Information">
            </div>
        </div>
        <div class="input-group">
            <span class="input-group-addon">content</span>
            <div class="form-group">
                <div class="fg-line">
                    <textarea id="wiki_info-<%= info.id %>-content" value="<%= info.content %>" class="form-control auto-size" placeholder="Label Contents (you can use Enter Key!)"></textarea>
                </div>
            </div>
        </div>
        <div class="input-group">
            <span class="input-group-addon">other links</span>
            <div class="form-group">
                <div class="fg-line">
                    <textarea id="wiki_info-<%= info.id %>-url" value="<%= info.url %>" class="form-control auto-size" placeholder="Other Link's URL related Label Contents (you can use Enter Key also!)"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="input-group">
            <a href="#" class="btn btn-success" onclick="updateWikiInfo('<%= info.id %>'); return false;">save</a><br>
            <a href="#" class="btn btn-danger" data-confirm="Are you sure?" onclick="deleteWikiInfo('<%= info.id %>'); return false;">delete</a>
        </div>
    </div>
</div>