<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @clip.user %>
</p>

<p>
  <strong>Link:</strong>
  <%= @clip.link %>
</p>

<%= link_to 'Edit', edit_clip_path(@clip) %> |
<%= link_to 'Back', clips_path %>
