<%= render partial: '/mypage/partials/header', locals: {color_class: '', style: 'background-color: #ffde55;'} %>

<%= render partial: '/layouts/partials/sub_nav', locals: {tabs: @tabs} %>

<%= render partial: '/layouts/partials/toolbar' %>

<% if !@links.count.zero? %>
    <%= render partial: '/links/partials/link_section' %>
<% else %>
    <section style="text-align: center">
        <h1 style="margin: 40px 0; color: #666;">Meet various contents about your K-Dol<br>that you haven't seen yet!</h1>
        <%= link_to 'Nyaaaah!', home_my_path, class: 'btn btn-default btn-lg bgm-blue' %>
    </section>
<% end %>
