<% info = target %>
<div class="super row">
    <div class="col-md-12 task">
        <div class="card blog-post">
            <div class="bp-header">
                <a href="<%= info[:url] %>" target="_blank">
                    <img style="width: 100%;background: #000;" src="<%= info[:image] %>" height="171" alt="">
                    <div class="user_profile">
                        <div class="lv-item">
                            <div class="media">
                                <div class="pull-left">
                                    <div class="lv-img-sm bg_img_cover" style="background: url('<%= user.img.nil? ? image_with_sns(user.image.to_s) : user.img %>'); width: 40px; height: 40px; border: 1px solid #fff;" data-pin-nopin="true"></div>
                                </div>
                                <div class="media-body">
                                    <div class="lv-title"><%= current_user.nickname %></div>
                                    <small class="lv-small"><%= distance_of_time_in_words(Time.now, Time.now) %></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="<%= info[:url] %>" target="_blank" class="bp-title">
                    <h2><%== info[:title] %></h2>
                    <small><%== info[:description] %></small>
                </a>
                <button class="btn bgm-green btn-float waves-effect" style="right: 20px; bottom: -23px;"><i class="zmdi zmdi-share"></i></button>
            </div>

            <a href="<%= info[:url] %>" target="_blank">
                <div class="p-20">
                    <p class="msg" id="editable_msg">put your sth message...</p>
                    <p class="url m-b-0"><%= info[:url] %></p>
                </div>
            </a>
        </div>
    </div>
</div>