
<%= render partial: '/layouts/plane_header', locals: { color_class: '', message: '', style: 'height: 260px; background: #ffde55;', msg_style: 'padding-top: 85px;' } %>


<div class="container" style="margin-top: -125px;">
    <div class="col-md-3 col-xs-1"></div>
    <div class="col-md-6 col-xs-10">
        <div class="row">
            <!--<div class="block-header">-->
                <!--<h2>Edit <%#= resource_name.to_s.humanize %></h2>-->

                <!--<ul class="actions">-->
                    <!--<li>-->
                        <!--<a href="">-->
                            <!--<i class="zmdi zmdi-trending-up"></i>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="">-->
                            <!--<i class="zmdi zmdi-check-all"></i>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li class="dropdown">-->
                        <!--<a href="" data-toggle="dropdown">-->
                            <!--<i class="zmdi zmdi-more-vert"></i>-->
                        <!--</a>-->

                        <!--<ul class="dropdown-menu dropdown-menu-right">-->
                            <!--<li>-->
                                <!--<a href="">Refresh</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="">Manage Widgets</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="">Widgets Settings</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
            <form role="form" class="form-horizontal" id="edit_user" action="/users" accept-charset="UTF-8" method="post" enctype="multipart/form-data">
                <input name="utf8" type="hidden" value="&#x2713;" />
                <input type="hidden" name="_method" value="put" />
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                <input type="hidden" name="back_path" value="<%= request.referer.gsub(request.base_url, '') %>">
                <%= devise_error_messages! %>
                <!--<div class="block-header">-->
                    <!--<h2><b>Public Info</b></h2>-->
                <!--</div>-->
                <div class="card">
                    <div class="card-body card-padding" style="padding-top: 0; padding-bottom: 150px;">

                        <div class="row input-feilds">

                            <div class="col-sm-12 text-center">
                                <div id="hf-fileinput" class="fileinput fileinput-new m-b-30 p-0" data-provides="fileinput" style="">
                                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="background-image: url('<%= resource.img.nil? ? image_with_sns(resource.image.to_s) : resource.img %>');"></div>
                                    <div>
                                        <span class="btn btn-info btn-file waves-effect hf-fileinput-btn">
                                            <span class="fileinput-new bgm-blue"><i class="zmdi zmdi-camera"></i></span>
                                            <span class="fileinput-exists bgm-green"><i class="zmdi zmdi-camera"></i></span>
                                            <input id="my_profile_img_input" type="file" name="user[image]" value="<%= resource.image.url %>">
                                        </span>
                                        <a href="#" class="btn btn-danger fileinput-exists waves-effect w-100" data-dismiss="fileinput">Remove</a>
                                    </div>
                                </div>
                                <!-- 디버깅 단서로 활용하도록 주석 삭제하지 않고 남겨둠. -->
                                <!-- <p><em>Image preview only works in IE10+, FF3.6+, Safari6.0+, Chrome6.0+ and Opera11.1+. In older browsers the filename is shown instead.</em></p> -->
                            </div>

                            <!--NickName Field-->
                            <div class="col-sm-12" data-contain="nickname">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon"><i class="zmdi zmdi-face"></i> Nickname</span>
                                    <div class="fg-line">
                                        <input type="text" name="user[nickname]" id="checkNickNameLength_from" class="form-control input-lg" value="<%= resource.nickname %>">
                                    </div>
                                    <span class="input-group-addon last f-14" style="color: #1bacaa;"><span id="checkNickNameLength_to"><%= resource.nickname.length %></span>/20</span>
                                </div>
                            </div>

                            <div class="col-sm-12" data-contain="horisontal-divider">
                                <p>Personal Info</p>
                            </div>

                            <!--Name Field-->
                            <div class="col-sm-12" data-contain="name">
                                <div class="input-group input-group-lg" style="border-bottom: 0;">
                                    <span class="input-group-addon"><i class="zmdi zmdi-account"></i> Name</span>
                                    <div class="fg-line">
                                        <input type="text" name="user[name]" id="checkNameLength_from" class="form-control input-lg" value="<%= resource.name %>">
                                    </div>
                                    <span class="input-group-addon last f-14" style="color: #1bacaa;"><span id="checkNameLength_to"><%= resource.name.length %></span>/20</span>
                                </div>
                            </div>

                            <!--BirthDay Field-->
                            <div class="col-sm-12" data-contain="birthday">
                                <div class="input-group input-group-lg" style="border-bottom: 0;">
                                    <span class="input-group-addon"><i class="zmdi zmdi-cake"></i> Birthday</span>
                                    <div class="fg-line">
                                        <input type="date" name="user[birthday]" class="form-control input-lg" value="<%= resource.birthday.to_date if resource.birthday %>">
                                    </div>
                                    <!--<span class="input-group-addon last c-blue f-14 btn btn-default bgm-blue waves-effect" style="display: table-cell"></span>-->
                                </div>
                            </div>

                            <!--Email Filed-->
                            <div class="col-sm-12"  data-contain="email">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-addon"><i class="zmdi zmdi-email"></i> Email</span>
                                    <div class="fg-line">
                                        <input type="text" name="user[email]" class="form-control input-lg" value="<%= resource.email %>">
                                    </div>
                                    <!--<span class="input-group-addon last c-blue f-14 btn btn-default bgm-blue waves-effect" style="display: table-cell"></span>-->
                                </div>
                            </div>

                            <div class="col-sm-12" data-contain="submit">
                                <%= link_to "Go Back", mypage_watched_path, class: 'hf-btn btn-info w-100 submiter', style: 'box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); margin-top: 50px !important;' %>
                                <button type="submit" onclick="return account_validation();" class="card hf-btn btn-primary w-100 m-t-15 m-b-30 submiter" style="box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);">Update</button>
                            </div>

                            <div class="col-sm-12">
                                <div style="margin-top: 60px; padding-left: 20px;">
                                    <p style="font-size: 18px;color: #f5146c;font-weight: 600;">Delete Account?</p>
                                    <p class="m-b-30" style="font-size: 16px;color: #b3b3b3;font-weight: 400;">To protect your information, your account will be retained for two months even if you delete it.</p>
                                    <%= link_to "delete my account", user_inactivate_path, class: 'hf-btn btn-sm', style: 'box-shadow: none;color: #f5146c;text-transform: capitalize;padding: 0; font-size: 16px; background: none;', onclick: "return confirm('Are you sure?')" %>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>


                <div class="block-header" style="display: none;">
                    <h2><small><b>Password Zone <em>(Attention !!)</em></b> <b>New Password</b> : <em>leave blank if you don't want to change it</em> <br><b>Current Password</b> : <em>we need your current password to confirm your changes</em></small></h2>
                </div>
                <div class="card brd-2" style="border: 2px solid #F44336; display: none">
                    <div class="card-body card-padding">

                        <div class="row">

                            <!--New Password Field-->
                            <div class="col-sm-12">
                                <div class="input-group input-group-lg" style="border: 2px solid #EAEAEA;border-bottom: 0;">
                                    <span class="input-group-addon c-blue"><i class="zmdi zmdi-lock" style="top: 0;"></i></span>
                                    <div class="fg-line">
                                        <input type="password" name="user[password]" id="checkNewPWDLength_from" class="form-control input-lg" placeholder="New Password">
                                    </div>
                                    <span class="input-group-addon last c-blue f-14 btn btn-default bgm-bluegray waves-effect" style="display: table-cell"></span>
                                </div>
                            </div>

                            <!--New Password Confirm Field-->
                            <div class="col-sm-12">
                                <div class="input-group input-group-lg" style="border: 2px solid #EAEAEA;border-bottom: 0;">
                                    <span class="input-group-addon c-blue"><i class="zmdi zmdi-lock" style="top: 0;"></i></span>
                                    <div class="fg-line">
                                        <input type="password" name="user[password_confirmation]" id="checkNewPWDconfirmLength_from" class="form-control input-lg" placeholder="New Password Confirm">
                                    </div>
                                    <span class="input-group-addon last c-blue f-14 btn btn-default bgm-bluegray waves-effect" style="display: table-cell"></span>
                                </div>
                            </div>

                            <!--Current Password Filed-->
                            <div class="col-sm-12">
                                <div class="input-group input-group-lg" style="border: 2px solid #EAEAEA;">
                                    <span class="input-group-addon c-blue"><i class="zmdi zmdi-key" style="top: 0;"></i></span>
                                    <div class="fg-line">
                                        <input type="hidden" value="<%= resource.email %>" name="user[current_password]" id="checkPWDLength_from" class="form-control input-lg" placeholder="Current Password (First time? It's like your email)">
                                    </div>
                                    <span class="input-group-addon last c-blue f-14 btn btn-default bgm-blue waves-effect" style="display: table-cell"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>



            <!--<div class="card">-->

                <!--&lt;!&ndash;<form class="form-horizontal" role="form">&ndash;&gt;-->
                <!--<%#= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, role: 'form', class: 'form-horizontal' }) do |f| %>-->
                    <!--<%#= devise_error_messages! %>-->
                <%#= f.file_field :image %>
                    <!--<div class="card-header">-->
                        <!--<h2>Horizontal Form <small>Use Bootstrap's predefined grid classes to align labels and groups of form controls in a horizontal layout by adding '.form-horizontal' to the form. Doing so changes '.form-groups' to behave as grid rows, so no need for '.row'.</small></h2>-->
                    <!--</div>-->

                    <!--<div class="card-body card-padding">-->
                        <!--<div class="form-group">-->
                            <!--<%#= f.label :nickname, for: 'inputNickName', class: 'col-sm-3 col-xs-4 control-label btn btn-default bgm-pink', style: 'box-shadow: none' %>-->
                            <!--<div class="col-sm-9 col-xs-8">-->
                                <!--<div class="fg-line">-->
                                    <!--<%#= f.text_field :nickname, class: 'form-control input-sm', id: 'inputNickName', placeholder: 'Nick Name' %>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<%#= f.label :name, for: 'inputName', class: 'col-sm-3 col-xs-4 control-label btn btn-default bgm-pink', style: 'box-shadow: none' %>-->
                            <!--<div class="col-sm-9 col-xs-8">-->
                                <!--<div class="fg-line">-->
                                    <!--<%#= f.text_field :name, class: 'form-control input-sm', id: 'inputName', placeholder: 'Name' %>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="form-group">-->
                            <!--<%#= f.label :email, for: 'inputEmail3', class: 'col-sm-3 col-xs-4 control-label btn btn-default bgm-pink', style: 'box-shadow: none' %>-->
                            <!--<div class="col-sm-9 col-xs-8">-->
                                <!--<div class="fg-line">-->
                                    <!--<%#= f.email_field :email, class: 'form-control input-sm', id: 'inputEmai3', placeholder: 'Email', required: 'required' %>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<%#= f.label :new_password, for: 'inputNewPassword', class: 'col-sm-3 col-xs-4 control-label btn btn-default bgm-pink', style: 'box-shadow: none' %>-->
                            <!--<div class="col-sm-9 col-xs-8">-->
                                <!--<div class="fg-line">-->
                                    <!--<%#= f.password_field :password, autocomplete: "off", placeholder: 'New Password what you wanna change', class: 'form-control input-sm', id: 'inputNewPassword' %>-->
                                <!--</div>-->
                                <!--<%# if @minimum_password_length %>-->
                                    <!--<br />-->
                                    <!--<em><%#= @minimum_password_length %> characters minimum / WAIT!! <i>(leave blank if you don't want to change it)</i></em>-->
                                <!--<%# end %>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<%#= f.label :new_password_confirm, for: 'inputNewPasswordConfirm', class: 'col-sm-3 col-xs-4 control-label btn btn-default bgm-pink', style: 'box-shadow: none' %>-->
                            <!--<div class="col-sm-9 col-xs-8">-->
                                <!--<div class="fg-line">-->
                                    <!--<%#= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Repeat New Password at Once', class: 'form-control input-sm', id: 'inputNewPasswordConfirm' %>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<%#= f.label :current_password, for: 'inputCurrentPassword', class: 'col-sm-3 col-xs-4 control-label btn btn-default bgm-pink', style: 'box-shadow: none' %>-->
                            <!--<div class="col-sm-9 col-xs-8">-->
                                <!--<div class="fg-line">-->
                                    <!--<%#= f.password_field :current_password, autocomplete: "off", placeholder: 'Password', class: 'form-control input-sm', id: 'inputCurrentPassword' %>-->
                                <!--</div>-->
                                <!--<%# if @minimum_password_length %>-->
                                    <!--<br />-->
                                    <!--<em><i>(we need your current password to confirm your changes)</i></em>-->
                                <!--<%# end %>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<div class="col-sm-offset-3 col-sm-9 col-xs-12 m-t-30">-->
                                <!--<%#= link_to "Go Back", :back, class: 'col-xs-5 m-r-25 hf-btn btn-info btn-sm waves-effect' %>-->
                                <!--<%#= f.submit "Update", class: 'col-xs-5 m-l-25 hf-btn btn-primary btn-sm waves-effect' %>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--<%# end %>-->
            <!--</div>-->

        </div>
    </div>
    <div class="col-md-3 col-xs-1"></div>
</div>
